body {
    background-color: lightblue;
  }
  
  h1 {
    color: rgb(224, 144, 144);
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 10px;
    width: 50;
  }

  header {
    display: flex;
    background-color: whitesmoke;
    padding: 25px;
  }

  h3 {
    padding: 25;
  }

  .line-through {
    text-decoration: line-through;
  }


  .task {
    border: 2px solid burlywood;
    display: flex;
  }